<div id="connect4">
  <div>
    <h2 > {{ status_msg }} </h2>
    <br>
  </div>
    <input id="game-moves" type="hidden" name="moves" value="{{ Self::get_moves(self) }}"/>
    <div class="board-container">
        <!-- Each column as a <ul> with <li> cells -->
        {% for col in values %}
          {% let ci = loop.index0 %}
          <ul class="column" data-col="{{ ci }}"
                             hx-get="{{ path }}" hx-include="this" hx-target="#connect4" hx-swap="outerHTML">
          <input type="hidden" name="column" value="{{ci}}">
          <input id="show_scores" type="hidden" name="show_scores" value="{{show_scores}}">
          {%for cel in col %}
              <li class="cell {{ cel }}" data-row="{{ loop.index0 }}"></li>
          {% endfor %}
              {% if !Self::is_reset(self) && show_scores %}
                <div class="score" data-col="{{loop.index0}}">{{ scores[loop.index0] }}</div>
              {% endif %}
          </ul>
        {% endfor %}
        <!-- Column score indicators below each column -->
    {#
    #}
    </div>
    <div class="score-row">
    </div>
    <!-- <p id="status">Player 1's turn (Red)</p> -->
</div>
